---
import BaseHead from '../components/BaseHead.astro';
import OpenGraphTags from '../components/OpenGraphTags.astro';
import { type CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import CopyText from '../components/CopyText.astro';
import SiteNav from '../components/SiteNav.astro';
import TagList from '../components/TagList';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, image, date, tags } = Astro.props;

const url = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${title} | plyght`} description={description} />
    <OpenGraphTags title={`${title} | plyght`} description={description} image={image} />
  </head>
  <body class="blog-content">
    <!-- Film grain background effect - double implementation for compatibility -->
    <div class="grain-container">
      <div class="grain"></div>
    </div>
    <div class="grain-overlay"></div>

    <table class="header">
      {
        (image && (
          <tr>
            <td colspan="4" class="banner-cell" style="position: relative;">
              <img src={image} alt="Banner" />
              <div class="nav-bottom-container">
                <SiteNav />
              </div>
            </td>
          </tr>
        )) || (
          <tr>
            <td colspan="4" style="position: relative;">
              <div class="nav-bottom-container no-banner">
                <SiteNav />
              </div>
            </td>
          </tr>
        )
      }
      <tr>
        <td colspan="2" rowspan="2" class="width-auto">
          <div class="title-wrap">
            <div>
              <h1 class="title">{title}</h1>
              <span class="subtitle">{description}</span>
            </div>
          </div>
        </td>
        <th>Posted</th>
        <td class="width-min">
          <FormattedDate date={date} />
        </td>
      </tr>
      <tr>
        <th>Share</th>
        <td class="width-min">
          <CopyText text={url.toString()}>Copy Link</CopyText>
        </td>
      </tr>
      <tr>
        <th class="width-min" colspan="1">Tags</th>
        <td class="width-auto tag-list" colspan="3">
          <TagList tags={tags} client:only="react" />
        </td>
      </tr>
    </table>

    <main class="blog-content stagger-fade-in" transition:animate="fade">
      <slot />
    </main>
  </body>
</html>
